{$DOMAIN} {
	encode {
		zstd
		gzip
		match {
			header Content-Type text/html*
			header Content-Type text/css*
			header Content-Type text/javascript*
			header Content-Type application/json*
		}
	}
	reverse_proxy app:8080
	log
}
